## Stock prediction - part1

### "As stock prediction was one of most attempted topic in data science, it would be difficult to outcompete the existing prediction algorithms." - Jack Bennetto

Yes, I agree. 

However, it is still the topic I would like to try on my side time.

### Key principle: Leveraging existing data/api/algorithm, adding my modification later

In [1]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import quandl

In [2]:
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2019, 6, 21)

In [9]:
bby_df = web.DataReader('BBY','yahoo',start,end)

In [6]:
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2000-01-03  25.722221  24.000000  25.666666  25.666666  19442800.0  18.562016
2000-01-04  26.055555  24.444445  25.222221  25.500000  11525500.0  18.441483
2000-01-05  25.944445  23.333334  25.333334  25.333334  11111500.0  18.320946
2000-01-06  25.833334  24.611111  24.972221  25.111111   5968000.0  18.160229
2000-01-07  25.888889  25.000000  25.111111  25.888889   5736600.0  18.722723

In [41]:
#10 yr bond
tnx = web.DataReader('^TNX', 'yahoo', start, end)
#CBOE volatality index
vix = web.DataReader('^VIX', 'yahoo', start, end)
#russell 2000
rut = web.DataReader('^RUT', 'yahoo', start, end)
#nasdaq composite
ixic = web.DataReader('^IXIC', 'yahoo', start, end)
#S&P 500
spc = web.DataReader('^GSPC', 'yahoo', start, end)
#Dow Jones
dji = web.DataReader('^DJI', 'yahoo', start, end)

Hmm. do we need all those columns for economic factors? no.

In [25]:
tnx_df['tnx'] = tnx_df['Close']

In [72]:
economic_factors = [tnx,vix,rut,ixic,spc,dji]
economic_factors_string = ['tnx','vix','rut','ixic','spc','dji']
for n in range(len(economic_factors_string)):
    economic_factors[n][economic_factors_string[n]] =  economic_factors[n]['Close']

,High,Low,Open,Close,Volume,Adj Close,dji
Date,,,,,,,
2000-01-03,11522.009766,11305.690430,11501.849609,11357.509766,169750000,11357.509766,11357.509766
2000-01-04,11350.059570,10986.450195,11349.750000,10997.929688,178420000,10997.929688,10997.929688
2000-01-05,11215.099609,10938.669922,10989.370117,11122.650391,203190000,11122.650391,11122.650391
2000-01-06,11313.450195,11098.450195,11113.370117,11253.259766,176550000,11253.259766,11253.259766
2000-01-07,11528.139648,11239.919922,11247.059570,11522.559570,184900000,11522.559570,11522.559570

In [75]:
result = pd.concat([bby_df, tnx.iloc[:,[-1]], vix.iloc[:,[-1]], rut.iloc[:,[-1]], ixic.iloc[:,[-1]], dji.iloc[:,[-1]]], axis=1, join_axes=[bby_df.index])

In [76]:
result.head()

,High,Low,Open,Close,Volume,Adj Close,tnx,vix,rut,ixic,dji
Date,,,,,,,,,,,
2000-01-03,25.722221,24.000000,25.666666,25.666666,19442800.0,18.562016,6.548,24.209999,496.420013,4131.149902,11357.509766
2000-01-04,26.055555,24.444445,25.222221,25.500000,11525500.0,18.441483,6.485,27.010000,478.380005,3901.689941,10997.929688
2000-01-05,25.944445,23.333334,25.333334,25.333334,11111500.0,18.320946,6.599,26.410000,478.829987,3877.540039,11122.650391
2000-01-06,25.833334,24.611111,24.972221,25.111111,5968000.0,18.160229,6.549,25.730000,475.339996,3727.129883,11253.259766
2000-01-07,25.888889,25.000000,25.111111,25.888889,5736600.0,18.722723,6.504,21.719999,488.309998,3882.620117,11522.559570